//  Базовые стили

html {
    box-sizing: border-box;
    min-height: 100%;
    overflow-y: scroll;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    overflow-x: hidden;
    background-color: $bodyBg;
    color: $textColor;
    font-family: $fontFamily;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    height: 100%;
    text-shadow: 0 6px 6px rgba(0, 0, 0, .42);
    position: relative;
    opacity: 0;
    animation: fadeInText .15s ease-in forwards;
    @media (max-width: 1678px) {
        font-size: 31px;
        line-height: 46px;
    }
    @media (max-width: 1439px) {
        font-size: 30px;
        line-height: 44px
    }
    @media (max-width: 1367px) {
        font-size: 29px;
        line-height: 42px
    }
    @media (max-width: 1199px) {
        font-size: 28px;
        line-height: 40px;
    }
    @media (max-width: 1099px) {
        font-size: 27px;
        line-height: 40px;
    }
    @media (max-width: 991px) {
        font-size: 26px;
        line-height: 38px;
    }
    @media (max-width: 767px) {
        font-size: 24px;
        line-height: 35px;
    }
}
.body--hidden{
    overflow: hidden;
}
a {
    color: $textColor;
    text-decoration: none;
    position: relative;
    &::before{
        position: absolute;
        content: '';
        width: 0%;
        height: 2px;
        bottom: 1px;
        right: 0;
        background-color: #fff;
        transition: .3s;
    }
    &:hover{
        &::before{
            width: 100%;
            right: auto;
            left: 0;
        }
    }
    
}
.current_page_item a{
    &::before{
        width: 100%;
        height: 2px;
        bottom: 2px;
        @media (max-width: 767px) {
            width: 0%;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

section {
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

.content {
    flex: 1 0 auto;
}

.container {
    max-width: 1569px;
    width: 100%;
    margin: 0 auto;
    padding-left: $containerPadding;
    padding-right: $containerPadding;
    @media screen and (max-width: 1678px) {
        max-width: 1369px;
    }
    @media screen and (max-width: 1479px) {
        max-width: 1249px;
    }
    @media screen and (max-width: 1439px) {
        max-width: 1200px;
    }
    @media (max-width: 1367px) {
        max-width: 1149px;
    }
}

body.single{
    background: center/cover no-repeat url('~@img/bg-gradient/LF1 Gradient BG NEW 4.jpg');
}
body.archive{
    background: center/cover no-repeat url('~@img/bg-gradient/LF1 Gradient BG NEW 5.jpg');
}
body.openings-template-default{
    background:  center/cover no-repeat url('~@img/bg-gradient/LF1 Gradient BG NEW 6.jpg');
}
.wpcf7-not-valid-tip{
    font-size: 18px;
    line-height: 26px;
}
.wpcf7 form .wpcf7-response-output{
    font-size: 20px;
    line-height: 30px;
    margin: 2.5em .5em 1em;
}

@keyframes fadeInText {
    100% {
        opacity: 1;
    }
}