//  Миксины

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin clearlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

// Media Queries Min Width

@mixin min-w($width) {
    @media screen and (min-width: $width) { @content; }
}

// Media Queries Max Width

@mixin max-w($width) {
    @media screen and (max-width: $width) { @content; }
}

// Fluid font size
// $f-min - min font size
// $f-max - max font size
// $w-min - min window width
// $w-max - max window width
// $fallback - default font size for old browsers support
// $units - measure units (e.x. px, em, rem, vw)
@mixin fluid-font($fMin, $fMax, $wMin, $wMax, $fallback: false, $units: px) {

    font-size: $fMin;

    @media (min-width: $wMin) {
        @if ($fallback) {
            font-size: $fallback;
        }
        font-size: calcFluidFontSize($fMin, $fMax, $wMin, $wMax, $units);
    }
    @media (min-width: $wMax) {
        font-size: $fMax;
    }
}

@mixin button($bcolor,$url,$x1,$y1,$bor,$col) {
    background: $bcolor;
    -webkit-mask: url($url);
    mask: url($url);
    -webkit-mask-size: $x1 $y1;
    mask-size: $x1 $y1;
    border: $bor;
    color: $col;
}
