@font-face {
    font-family: 'Poppins';
    src: url('~@fonts/Poppins-Light.eot');
    src: url('~@fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/Poppins-Light.woff2') format('woff2'),
        url('~@fonts/Poppins-Light.woff') format('woff'),
        url('~@fonts/Poppins-Light.ttf') format('truetype'),
        url('~@fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('~@fonts/Poppins-Regular.eot');
    src: url('~@fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/Poppins-Regular.woff2') format('woff2'),
        url('~@fonts/Poppins-Regular.woff') format('woff'),
        url('~@fonts/Poppins-Regular.ttf') format('truetype'),
        url('~@fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('~@fonts/Poppins-Medium.eot');
    src: url('~@fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/Poppins-Medium.woff2') format('woff2'),
        url('~@fonts/Poppins-Medium.woff') format('woff'),
        url('~@fonts/Poppins-Medium.ttf') format('truetype'),
        url('~@fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('~@fonts/Poppins-SemiBold.eot');
    src: url('~@fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('~@fonts/Poppins-SemiBold.woff') format('woff'),
        url('~@fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('~@fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    src: url('~@fonts/Poppins-Bold.eot');
    src: url('~@fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/Poppins-Bold.woff2') format('woff2'),
        url('~@fonts/Poppins-Bold.woff') format('woff'),
        url('~@fonts/Poppins-Bold.ttf') format('truetype'),
        url('~@fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightDisp';
    src: url('~@fonts/FreightDispW01-BoldItalic.eot');
    src: url('~@fonts/FreightDispW01-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/FreightDispW01-BoldItalic.woff2') format('woff2'),
        url('~@fonts/FreightDispW01-BoldItalic.woff') format('woff'),
        url('~@fonts/FreightDispW01-BoldItalic.ttf') format('truetype'),
        url('~@fonts/FreightDispW01-BoldItalic.svg#FreightDispW01-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FreightDisp';
    src: url('~@fonts/Freight-DispMediumItalic.eot');
    src: url('~@fonts/Freight-DispMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('~@fonts/Freight-DispMediumItalic.woff2') format('woff2'),
        url('~@fonts/Freight-DispMediumItalic.woff') format('woff'),
        url('~@fonts/Freight-DispMediumItalic.ttf') format('truetype'),
        url('~@fonts/Freight-DispMediumItalic.svg#Freight-DispMediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $fontFamily;
    margin: 0;
}
h1,
h2 {
    font-size: 60px;
    line-height: 90px;
    @media (max-width: 1678px) {
        font-size: 56px;
        line-height: 82px;
    }
    @media (max-width: 1439px) {
        font-size: 50px;
        line-height: 74px;
    }
    @media (max-width: 1367px) {
        font-size: 44px;
        line-height: 68px;
    }
    @media (max-width: 1199px) {
        font-size: 38px;
        line-height: 60px;
    }
    @media (max-width: 991px) {
        font-size: 35px;
        line-height: 48px;
    }
    @media (max-width: 767px) {
        font-size: 32px;
    }
    em{
        font-family: $fontFamilyDisp;
        font-size: 75px;
        @media (max-width: 1678px) {
            font-size: 70px;
        }
        @media (max-width: 1439px) {
            font-size: 65px;
        }
        @media (max-width: 1367px) {
            font-size: 60px;
        }
        @media (max-width: 1199px) {
            font-size: 55px;
        }
        @media (max-width: 991px) {
            font-size: 45px;
        }
        @media (max-width: 767px) {
            font-size: 40px;
        }
    }
}
h3 {
    font-size: 40px;
    line-height: 54px;
    @media (max-width: 1678px) {
        font-size: 38px;
        line-height: 50px;
    }
    @media (max-width: 1439px) {
        font-size: 36px;
        line-height: 46px;
    }
    @media (max-width: 1367px) {
        font-size: 32px;
        line-height: 42px;
    }
    @media (max-width: 1199px) {
        font-size: 30px;
    }
    @media (max-width: 991px) {
        font-size: 28px;
        line-height: 36px;
    }
    @media (max-width: 767px) {
        font-size: 24px;
        line-height: 32px;
    }
    em{
        font-family: $fontFamilyDisp;
        font-size: 48px;
        @media (max-width: 1678px) {
            font-size: 47px;
        }
        @media (max-width: 1439px) {
            font-size: 46px;
        }
        @media (max-width: 1367px) {
            font-size: 45px;
        }
        @media (max-width: 1199px) {
            font-size: 44px;
        }
        @media (max-width: 991px) {
            font-size: 42px;
        }
        @media (max-width: 767px) {
            font-size: 40px;
        }
    }
}
h4 {
    font-size: 24px;
    line-height: 46px;
    @media (max-width: 1678px) {
        font-size: 23px;
        line-height: 44px;
    }
    @media (max-width: 1439px) {
        font-size: 22px;
        line-height: 42px;
    }
    @media (max-width: 1367px) {
        font-size: 21px;
        line-height: 40px;
    }
    @media (max-width: 1199px) {
        font-size: 20px;
        line-height: 38px;
    }
    @media (max-width: 991px) {
        font-size: 19px;
        line-height: 36px;
    }
    @media (max-width: 767px) {
        font-size: 18px;
        line-height: 32px;
    }
}
h5 {
    font-size: 16px;
}
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

hr {
    height: 3px;
    background: #fff;
    border: none;
    margin: 56px 0;
}
.letter{
    display: inline-block;
}
em strong{
    white-space: nowrap;
    @media (max-width: 767px) {
        white-space: normal;
    }
}