//  Цвет

$bodyBg: #fff;
$textColor: #fff;

// Цвет ссылки

$linkColor: #55b3f3;
$linkColorHover: darken($linkColor, 20%);

//  Типографика

$fontFamily: 'Poppins', Helvetica, Arial, sans-serif;
$fontFamilyDisp:  'FreightDisp', Helvetica, Arial, sans-serif;
// $font-family--helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Ширина контейнера
$containerPadding: 34px;
$containerWidth: 1501px + $containerPadding * 2;

//  Адаптивность и соответствующие ширины контейнера

// $screen-xs: 0;
// $screen-sm: 480px;
// $screen-md: 768px;
// $screen-lg: 992px;
// $screen-xl: 1200px;
