//  Импорт файлов
@import 'normalize-scss';
@include normalize();
@import 'variables';
@import 'functions';
@import 'mixins';
@import 'base';
@import 'typography';
@import 'wp-classes';

@import 'elements/form-elements';
@import 'elements/buttons';
@import 'elements/logo';
@import 'elements/pagination';

@import 'block/header';
@import 'block/footer';
@import 'block/blocks-repeaters';
@import 'block/block-top-info';

@import 'pages/home';
@import 'pages/single-post';
@import 'pages/posts';

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    filter: blur(50px);
    transition: .6s linear;
}

.plane {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    touch-action: none;
    pointer-events: none;
}
.plane img {
    /* hide the img element */
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
#water-ripples{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    picture,
    source{
        display: none;
    }
    img{
        pointer-events: none;
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: none;
        transition: .3s;
    }
}
.wpcf7-response-output{
    display: none;
}
del{
    text-decoration: none;
    white-space: nowrap;
}