.hinformation{
    &__title{
        max-width: 1277px;
        margin-bottom: 80px;
        line-height: 60px;
        @media screen and (max-width: 1678px) {
            margin-bottom: 70px;
            line-height: 50px;
        }
        @media screen and (max-width: 1439px) {
            margin-bottom: 60px;
            line-height: inherit;
        }
        @media screen and (max-width: 1199px) {
            margin-bottom: 50px;
        }
        @media screen and (max-width: 991px) {
            margin-bottom: 40px;
        }
        @media (max-width:767px) {
            margin-bottom: 20px;
            font-weight: 600;
            line-height: 35px;
        }
    }
    &__title--about{
        @extend .hinformation__title;
        margin-bottom: 8px;
        text-transform: uppercase;
        @media (max-width: 1199px) {
            margin-bottom: 13px;
        }
        @media (max-width: 991px) {
            margin-bottom: 19px;
            font-weight: 600;
        }
    }
    &__title--join{
        @extend .hinformation__title;
        margin-bottom: 7px;
        @media (max-width: 1199px) {
            margin-bottom: 13px;
        }
        @media (max-width: 991px) {
            margin-bottom: 19px;
        }
    }
    &__title--opennings{
        @extend .hinformation__title;
        margin-bottom: 56px;
        @media (max-width: 1199px) {
            margin-bottom: 30px;
        }
        @media (max-width: 991px) {
            margin-bottom: 9px;
        }
    }
    &__title--blog{
        @extend .hinformation__title;
        margin-bottom: 6px;
        @media (max-width:991px) {
            margin-bottom: 9px;
            font-weight: 600;
        }
    }
    &__title--pp{
        @extend .hinformation__title;
        margin-bottom: 40px;
        text-transform: uppercase;
        @media (max-width:1199px) {
            margin-bottom: 30px;
        }
        @media (max-width:991px) {
            margin-bottom: 20px;
            font-weight: 600;
        }
    }
    &__title--imp{
        margin-bottom: 56px;
        line-height: initial;
        @media (max-width:1199px) {
            margin-bottom: 40px;
        }
        @media (max-width:991px) {
            margin-bottom: 20px;
            font-weight: 600;
        }
    }
    &__date{
        margin-bottom: 40px;
        @media (max-width:1199px) {
            margin-bottom: 30px;
        }
        @media (max-width:991px) {
            margin-bottom: 22px;
        }
    }
    &__text{
        h1,h2{
            max-width: 1415px;
        }
        p{
            margin-bottom: 80px;
            @media (max-width: 1199px) {
                margin-bottom: 60px;
            }
            @media (max-width: 991px) {
                margin-bottom: 50px;
            }
            @media (max-width: 767px) {
                margin-bottom: 35px;
            }
        }
        h1 {
            margin-bottom: 75px;
            @media (max-width: 1439px) {
                margin-bottom: 60px;
            }
            @media (max-width: 1199px) {
                margin-bottom: 50px;
            }
            @media (max-width: 991px) {
                margin-bottom: 40px;
            }
            @media (max-width: 767px) {
                margin-bottom: 35px;
            }
        }
    }
    &__text--pp{
        @extend .hinformation__text;
        p,
        h1{
            margin-bottom: 56px;
            @media (max-width: 1199px) {
                margin-bottom: 30px;
            }
            @media (max-width: 991px) {
                margin-bottom: 20px;
            }
        }
        h3{
            font-size: inherit;
        }
    }
    &__text--about{
        @extend .hinformation__text;
        @media (max-width: 767px) {
            line-height: 32px;
        }
    }
    &__inner{
        padding-top: 70px;
        border-bottom: 3px solid #fff;
        @media (max-width:1199px) {
            padding-top: 60px;
        }
        @media (max-width:991px) {
            padding-top: 47px;
        }
    }
}
