.blocks-repeaters {
    a{
        &::before{
            content: none;
        }
    }
    &__title {
        margin-bottom: 39px;
        @media (max-width: 991px) {
            h2 {
                font-size: 40px;
                @media (max-width: 500px) {
                    margin: 0 -10px;
                }
            }
            em{
                font-size: 50px;
            }
        }
        @media (max-width: 767px) {
            line-height: 54px;
        }
    }
    &__title--join {
        margin-bottom: 69px;
        @media (max-width: 1199px) {
            margin-bottom: 59px;
        }
        @media (max-width: 991px) {
            margin-bottom: 49px;
        }
        @media (max-width: 767px) {
            margin-bottom: 40px;
        }
    }
    &__inner {
        padding: 80px 0 69px;
        border-bottom: 3px solid #fff;
        @media (max-width: 1199px) {
            padding: 70px 0 59px;
        }
        @media (max-width: 991px) {
            padding: 56px 0 45px;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 1499px) {
            justify-content: space-between;
        }
        @media (max-width: 767px) {
            margin: 0 -20px;
        }
    }
    &__item--join {
        text-align: center;
        p {
            font-size: inherit !important;
        }
    }
    &__item {
        min-height: 159px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 3px solid #fff;
        border-radius: 11px;
        padding: 26px 42px;
        flex-basis: 32.8%;
        margin-right: 11px;
        margin-bottom: 11px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: .3s linear;
        @media (max-width: 1678px) {
            flex-basis: 32.7%;
            padding: 20px;
        }
        @media (max-width: 1439px) {
            flex-basis: 32.2%;
        }
        @media (max-width: 1479px) {
            text-align: center;
        }
        @media (max-width: 1199px) {
            margin-right: 0;
            flex-basis: 49.3%;
            padding: 27px 35px;
        }
        @media (max-width: 991px) {
            padding: 28px 30px;
        }
        @media (max-width: 900px) {
            flex-basis: 100%;
            padding: 25px;
        }
        &:nth-child(3n + 3) {
            margin-right: 0;
        }
        // &::before {
        //     position: absolute;
        //     content: '';
        //     width: 200%;
        //     height: 200%;
        //     background-color: #fff;
        //     top: 50%;
        //     left: 50%;
        //     z-index: 0;
        //     border-radius: 50%;
        //     opacity: 0;
        //     transition: .5s;
        // }
        h2,
        h3,
        h4 {
            margin-bottom: 10px;
            transition: .35s;
            z-index: 1;
            @media (max-width: 1199px) {
                margin-bottom: 5px;
            }
            @media (max-width: 767px) {
                margin-bottom: 0;
            }
            em {
                strong {
                    white-space: nowrap;
                }
            }
        }
        h3 {
            @media (max-width: 991px) {
                font-size: 32px;
                line-height: 42px;
            }
        }
        p {
            font-size: 24px;
            line-height: 35px;
            transition: .35s;
            transition-delay: .15s;
            z-index: 1;
            @media (max-width: 1199px) {
                font-size: 22px;
                line-height: 33px;
            }
            @media (max-width: 991px) {
                font-size: 20px;
                line-height: 30px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
                line-height: 27px;
            }
        }
        &:hover {
            background-color: #fff;
            p,
            h2,
            h3,
            h4 {
                color: rgba(0, 0, 0, .75);
            }
            // &::before {
            //     top: -50%;
            //     left: -50%;
            //     opacity: 1;
            // }
        }
    }
    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}
.blocks-repeaters--join{
    .blocks-repeaters__inner{
        padding: 70px 0 91px;
        @media (max-width: 1199px) {
            padding: 60px 0 80px;
        }
        @media (max-width: 991px) {
            padding: 40px 0 44px;
        }
    }
}