.footer {
    position: relative;
    flex: 0 0 auto;
    padding-top: 114px;
    padding-bottom: 67px;
    @media (max-width: 1449px) {
        padding-top: 100px;
    }
    @media (max-width: 991px) {
        padding-top: 80px;
    }
    @media (max-width: 991px) {
        padding: 50px 0 25px;
    }
}
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__sub {
    font-size: 18px;
    line-height: 27px;
    margin-top: 30px;
    text-align: center;
    display: none;
    @media (max-width: 1199px) {
        display: block;
        text-align: left;
    }
}
.footer__newsletter {
    max-width: 532px;
    width: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1678px) {
        max-width: 475px;
    }
    @media (max-width: 1199px) {
        max-width: 60%;
        margin-right: 0;
        padding-bottom: 53px;
    }
    @media (max-width: 991px) {
        max-width: 75%;
    }
    @media (max-width: 767px) {
        max-width: 90%;
    }
    @media (max-width: 500px) {
        max-width: 100%;
    }
    &-title {
        max-width: 315px;
        margin-bottom: 21px;
        font-size: 40px;
        line-height: 54px;
        @media (max-width: 1199px) {
            max-width: 100%;
        }
        i {
            font-size: 50px;
            font-family: $fontFamilyDisp;
        }
    }
    &-singup {
        display: flex;
        border-radius: 148px;
        box-shadow: 0 4px 6px #00000029;
        height: 61px;
        width: 100%;
        @media (max-width: 1199px) {
            max-width: 70%;
        }
        @media (max-width: 1199px) {
            max-width: 75%;
        }
        @media (max-width: 1099px) {
            max-width: 80%;
        }
        @media (max-width: 991px) {
            max-width: 65%;
        }
        @media (max-width: 767px) {
            max-width: 90%;
        }
        @media (max-width: 500px) {
            max-width: 100%;
        }
        span {
            width: 100%;
        }
    }
    input[type='submit'] {
        border-top-right-radius: 148px;
        border-bottom-right-radius: 148px;
    }
    input[type='text'],
    input[type='email'] {
        border-top-left-radius: 148px;
        border-bottom-left-radius: 148px;
        opacity: 1;
    }
    .footer__sub {
        display: block;
        text-align: left;
        @media (max-width: 1199px) {
            display: none;
        }
    }
}
.footer__navigations {
    display: flex;
    @media (max-width: 1199px) {
        width: 85%;
        justify-content: space-between;
    }
    @media (max-width: 1199px) {
        width: 100%;
        flex-wrap: wrap;
    }
    .box {
        max-width: 242px;
        margin-right: 69px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 1678px) {
            margin-right: 50px;
        }
        @media (max-width: 1678px) {
            margin-right: 35px;
        }
        &:nth-child(1) {
            width: 230px;
            @media (max-width: 1678px) {
                width: 200px;
            }
            @media (max-width: 1399px) {
                width: 100%;
            }
        }
        &:nth-child(2) {
            width: 230px;
            @media (max-width: 1678px) {
                width: 200px;
            }
            @media (max-width: 1399px) {
                width: 100%;
            }
        }
        @media (max-width: 991px) {
            margin-bottom: 25px;
            margin-right: 40px;
        }
        @media (max-width: 639px) {
            margin-bottom: 25px;
            margin-right: 0;
            max-width: 100%;
        }
        &:last-child {
            margin-right: 0;
        }
        &__title {
            white-space: nowrap;
            margin-bottom: 25px;
            font-size: 45px;
            font-family: $fontFamilyDisp;
            line-height: 57px;
            text-shadow: 0 4px 6px #00000029;
            @media (max-width: 991px) {
                margin-bottom: 20px;
            }
        }
        &__info {
            p {
                font-size: 24px;
                line-height: 35px;
                color: #fff;
                @media (max-width: 991px) {
                    font-size: 22px;
                    line-height: 33px;
                }
                @media (max-width: 767px) {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
        .logo {
            margin-left: auto;
            @media (max-width: 767px) {
                margin-left: 0;
                margin-top: 50px;
            }
        }
    }
}
