/* stylelint-disable no-descending-specificity */
.header {
    padding: 37px 0;
    position: relative;
    z-index: 2;
    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #eee;
        top: 0;
        left: 0;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
        transition: .3s;
    }
    @media (max-width: 991px) {
        padding: 21px 0;
    }
    &__inner {
        padding-left: 37px;
        padding-right: 58px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1199px) {
            padding-right: 37px;
        }
    }
    &__menu{
        @media (max-width: 767px) {
            animation: none !important;
            animation-delay: 0s !important;
        }
        @media (max-width: 767px) {
            position: fixed;
            z-index: 2;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: #eee;
            overflow-x: scroll;
            padding-top: 88px;
            transition: .3s;
            opacity: 0;
            visibility: hidden;
            pointer-events: none; 
        }
        .footer__newsletter{
            display: none;
            max-width: 100%;
            color: #000;
            padding-bottom: 32px;
            &-inner{
                padding: 32px 0;
                max-width: 86%;
                margin: 0 auto;
                border-bottom: 1px solid #cfcfcf;
            }
            &-title{
                margin-bottom: 32px;
            }
            &-singup{
                box-shadow: none;
            }
        }
        .footer__navigations{
            display: none;
            padding: 0 38px;
            color: #000;
            .box__info p,
            a,
            p{
                color: #000;
            }
            a{
                &::before{
                    content: none;
                }
            }
        }
    }
}
.header--open{
    &::before{
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
    }
    .header__menu{
        opacity: 1 !important;
        visibility: visible;
        pointer-events: visible;
    }
    .footer__newsletter{
        display: block;
    }
    .footer__navigations{
        display: block;
    }
    .logo__pc{
        display: none;
    }
    .logo__phone{
        display: block;
    }
}

// menu
.menu {

    ul {
        display: flex;
        @media (max-width: 767px) {
            flex-direction: column;
            margin: 0 38px;
            padding: 0;
        }
        li {
            list-style: none;
            margin-right: 40px;
            @media (max-width: 767px) {
                margin-right: 0;
                padding: 32px 0;
                border-bottom: 1px solid #cfcfcf;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            line-height: 30px;
            font-size: 20px;
            text-transform: uppercase;
            transition: .3s;
            @media (max-width: 767px) {
                font-size: 30px;
                font-weight: 700;
                line-height: 46px;
                text-shadow: none;
                color: #000;
            }
            &:hover {
                text-shadow: 0 0 1.5px;
                &::before{
                    @media (max-width: 767px) {
                        width: 0;
                    }
                }
            }
        }
    }
}

//burger menu
.menu-toggle {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: none;
    z-index: 3;
    @media (max-width: 767px) {
        display: block;
        width: 40px;
        height: 40px;
    }
    span {
        display: block;
        background: #fff;
        border-radius: 100px;
        transition: .3s;
    }
    .hamburger {
        top: 0;
        span {
            width: 100%;
            height: 6px;
            position: relative;
            margin: 5px 0;
            &:nth-child(1) {
                transition-delay: .5s;
            }
            &:nth-child(2) {
                transition-delay: .625s;
            }
            &:nth-child(3) {
                transition-delay: .75s;
            }
        }
    }
    .cross {
        position: absolute;
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        top: 6px;
        @media (max-width: 767px) {
            top: 6px;
        }
        span {
            background-color: #000;
            &:nth-child(1) {
                height: 0%;
                width: 5px;
                left: 33%;
                position: absolute;
                transition-delay: 0s;
                @media (max-width: 767px) {
                    left: 33%;
                }
            }
            &:nth-child(2) {
                width: 0%;
                height: 5px;
                top: 13px;
                position: absolute;
                transition-delay: .25s;
                @media (max-width: 767px) {
                    top: 13px;
                }
            }
        }
    }
    &.open {
        .hamburger {
            span {
                width: 0%;
                &:nth-child(1) {
                    transition-delay: 0s;
                }
                &:nth-child(2) {
                    transition-delay: .125s;
                }
                &:nth-child(3) {
                    transition-delay: .25s;
                }
            }
        }
        .cross {
            span {
                &:nth-child(1) {
                    height: 80%;
                    transition-delay: .625s;
                }
                &:nth-child(2) {
                    width: 80%;
                    transition-delay: .375s;
                }
            }
        }
    }
}
