.main {
    &__inner {
        padding-top: 50px;
        padding-bottom: 130px;
        height: 100%;
        position: relative;
        animation: fadeInText 1.1s ease-in forwards;
        animation-delay: .1s;
        @media (max-width: 1679px) {
            padding-bottom: 115px;
        }
        @media (max-width: 1439px) {
            padding-bottom: 100px;
        }
        @media (max-width: 1367px) {
            padding-bottom: 85px;
        }
        @media (max-width: 1199px) {
            padding-bottom: 70px;
        }
        @media (max-width: 991px) {
            padding-top: 35px;
            padding-bottom: 60px;
        }
        hr{
            position: absolute;
            margin: 0;
            bottom: 0;
            width: 100%;
        }
    }
    &__text {
        max-width: 1111px;
    }
    h1 {
        margin-bottom: 40px;
        strong{
            white-space: nowrap;
            @media (max-width: 767px) {
                white-space: normal;
            }
        }
        @media (max-width: 991px) {
            margin-bottom: 50px;
        }
        @media (max-width: 767px) {
            margin-bottom: 55px;
        }
    }
}

.bmore {
    &__inner {
        padding-top: 130px;
        padding-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @media (max-width: 1439px) {
            padding-top: 100px;
        }
        @media (max-width: 1199px) {
            padding-top: 85px;
            padding-bottom: 0;
        }
        @media (max-width: 991px) {
            justify-content: center;
            text-align: center;
            padding-top: 65px;
        }
        @media (max-width: 767px) {
            padding-top: 34px;
        }
        .box {
            max-width: 595px;
            width: 100%;
            margin-right: 241px;
            margin-bottom: 83px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @media (max-width: 1679px) {
                max-width: 495px;
            }
            @media (max-width: 1499px) {
                margin-right: 170px;
            }
            @media (max-width: 1449px) {
                margin-right: 130px;
            }
            @media (max-width: 1367px) {
                margin-right: 90px;
                max-width: 480px;
            }
            @media (max-width: 1199px) {
                margin-bottom: 67px;
            }
            @media (max-width: 1149px) {
                max-width: 450px;
            }
            @media (max-width: 1059px) {
                margin-right: 60px;
                max-width: 420px;
            }
            @media (max-width: 991px) {
                max-width: 100%;
                margin-right: 0;
            }
            &:nth-child(even) {
                margin-right: 0;
            }
            &__title {
                font-size: 48px;
                line-height: 90px;
                // margin-bottom: 10px;
                font-weight: 700;
                @media (max-width: 1679px) {
                    line-height: 85px;
                }
                @media (max-width: 1439px) {
                    line-height: 80px;
                }
                @media (max-width: 1367px) {
                    line-height: 75px;
                }
                @media (max-width: 1199px) {
                    line-height: 70px;
                    margin-bottom: 10px;
                }
                @media (max-width: 991px) {
                    line-height: 65px;
                }
                @media (max-width: 767px) {
                    line-height: 60px;
                }
                em{
                    font-family: $fontFamilyDisp;
                    font-size: 60px;
                }
            }
            &__text {
                margin-bottom: 29px;
            }
            &__button {
                align-self: flex-start;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                outline: none;
                border: none;
                background: #000;
                box-shadow: 0 4px 6px #00000029;
                border-radius: 45px;
                padding: 24px 53px 23px;
                line-height: 37px;
                overflow: hidden;
                @media (max-width: 991px) {
                    margin: 0 auto;
                }
            }
        }
        hr{
            position: absolute;
            margin: 0;
            bottom: 0;
            width: 100%;
        }
    }
}
