.posts{
    &__box{
        display: flex;
        align-items: center;
        padding-top: 59px;
        padding-bottom: 56px;
        border-bottom: 3px solid #fff;
        @media (max-width:1199px) {
            padding: 50px 0;
        }
        @media (max-width:991px) {
            flex-direction: column;
            padding: 40px 0;
        }
        &-img{
            flex-shrink: 0;
            width: 500px;
            height: 420px;
            background-color: #fff;
            box-shadow: 0 3px 6px #00000029;
            margin-right: 55px;
            overflow: hidden;
            &::before{
                content: none;
            }
            @media (max-width:1499px) {
                width: 450px;
            }
            @media (max-width:1399px) {
                width: 400px;
                height: 400px;
                margin-right: 40px;
            }
            @media (max-width:1099px) {
                width: 300px;
                height: 350px;
                margin-right: 30px;
            }
            @media (max-width:991px) {
                width: 100%;
                height: 276px;
                margin-right: 0;
                margin-bottom: 28px;
            }
            img{
                width: 100%;
                height: 100%;
                transition: .4s linear;
            }
            &:hover{
                img{
                    transform: scale(1.05);
                }
            }
        }
        &-title{
            margin-bottom: 16px;
            transition: .4s ease-in;
            &:hover{
                opacity: .8;
                letter-spacing: .1px;
                transform: translateY(-2px);
            }
            @media (max-width:991px) {
                font-weight: 600;
            }
        }
        &-date{
            margin-bottom: 32px;
            @media (max-width:1499px) {
                margin-bottom: 24px;
            }
        }
        &-text{
            @media (max-width: 1399px) {
                font-size: 30px;
                line-height: 42px;
            }
            @media (max-width: 1199px) {
                font-size: 26px;
                line-height: 36px;
            }
            @media (max-width: 991px) {
                font-size: 22px;
                line-height: 32px;
            }
            @media (max-width: 767px) {
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
}