.post-content{
    &__inner{
        padding: 80px 0 30px;
        border-bottom: 3px solid #fff;
        @media (max-width:991px) {
            padding: 56px 0 6px;
        }
        a{
            transition: .3s;
            &:hover{
                opacity: .85;
            }
            &::before{
                content: none;
            }
        }
        p{
            margin-bottom: 50px;
            @media (max-width:1199px) {
                margin-bottom: 40px;
            }
            @media (max-width:991px) {
                margin-bottom: 30px;
            }
        }
        h1,h2,h3,h4{
            font-weight: 600;
            margin: 56px 0 37px;
        }
        h1{
            margin-bottom: 40px;
            @media (max-width: 1199px) {
                margin-bottom: 35px;
            }
            @media (max-width: 991px) {
                margin-bottom: 30px;
                line-height: 42px;
            }
        }
        h2{
            font-size: 40px;
            margin-bottom: 34px;
            @media (max-width: 1678px) {
                font-size: 38px;
            }
            @media (max-width: 1439px) {
                font-size: 36px;
            }
            @media (max-width: 1199px) {
                font-size: 32px;
            }
            @media (max-width: 991px) {
                font-size: 28px;
                margin-bottom: 20px;
            }
            @media (max-width: 900px) {
                font-size: 26px;
                line-height: 40px;
            }
            em{
                font-size: 48px;
                @media (max-width: 1678px) {
                    font-size: 47px;
                }
                @media (max-width: 1439px) {
                    font-size: 46px;
                }
                @media (max-width: 1367px) {
                    font-size: 45px;
                }
                @media (max-width: 1199px) {
                    font-size: 44px;
                }
                @media (max-width: 991px) {
                    font-size: 42px;
                }
                @media (max-width: 767px) {
                    font-size: 40px;
                }
            }
        }
        h3{
            font-size: 32px;
            @media (max-width: 1199px) {
                font-size: 28px;
            }
            @media (max-width: 991px) {
                font-size: 26px;
                margin-bottom: 20px;
            }
            @media (max-width: 767px) {
                font-size: 24px;
            }
            
        }
        ul{
            margin-bottom: 33px;
            @media (max-width: 1199px) {
                margin-bottom: 28px;
            }
        }
        li{
            @media (max-width: 991px) {
                margin: 10px 0;
                margin-left: -10px;
            }
            &::marker{
                font-size: 40px;
                @media (max-width: 1367px) {
                    font-size: 34px;
                }
                @media (max-width: 991px) {
                    font-size: inherit;
                }
            }
        }
        pre{
            margin-top: -10px;
            margin-bottom: 46px;
            font-size: inherit;
            font-family: inherit;
            white-space: inherit;
        }
        &.impri{
            padding: 56px 0 37px;
            @media (max-width: 991px) {
                padding: 30px 0 26px;
            }
        }
        &.p-p{
            padding: 56px 0 37px;
            @media (max-width: 991px) {
                padding: 30px 0 26px;
            }
            h2{
                line-height: 60px;
                @media (max-width: 1678px) {
                    line-height: 50px;
                }
                @media (max-width: 1439px) {
                    line-height: 46px;
                }
                @media (max-width: 1367px) {
                    line-height: 42px;
                }
                @media (max-width: 1280px) {
                    line-height: 38px;
                }
                @media (max-width: 991px) {
                    line-height: 36px;
                }
            }
        }
    }
}
.post-content--opennings{
    .post-content__inner{
        padding-top: 56px;
    }
    h3{
        margin: 22px 0 28px;
        line-height: 60px;
        @media (max-width: 1639px) {
            line-height: initial;
        }
        @media (max-width: 1280px) {
            font-size: 30px;
        }
        @media (max-width: 1199px) {
            font-size: 28px;
            line-height: 36px;
        }
        @media (max-width: 991px) {
            font-size: 26px;
            line-height: 36px;
        }
        @media (max-width: 767px) {
            font-size: 24px;
            line-height: 32px;
        }
    }
    h2{
        margin: 26px 0 22px;
        font-size: 60px;
        line-height: 90px;
        @media (max-width: 1678px) {
            font-size: 56px;
            line-height: 82px;
        }
        @media (max-width: 1439px) {
            font-size: 50px;
            line-height: 74px;
        }
        @media (max-width: 1367px) {
            font-size: 44px;
            line-height: 68px;
        }
        @media (max-width: 1199px) {
            font-size: 38px;
            line-height: 60px;
        }
        @media (max-width: 991px) {
            font-size: 35px;
            line-height: 48px;
        }
        @media (max-width: 767px) {
            font-size: 32px;
        }
        em{
            font-size: 75px;
            @media (max-width: 1678px) {
                font-size: 70px;
            }
            @media (max-width: 1439px) {
                font-size: 65px;
            }
            @media (max-width: 1367px) {
                font-size: 60px;
            }
            @media (max-width: 1199px) {
                font-size: 55px;
            }
            @media (max-width: 991px) {
                font-size: 45px;
            }
            @media (max-width: 767px) {
                font-size: 40px;
            }
        }
    }
    h1,h2{
        em{
            font-weight: 500;
        }
        @media (max-width: 991px) {
            font-size: 40px;
            em{
                font-size: 50px;
            }
        }
    }
    li,
    p{
        @media (max-width: 767px) {
            line-height: 32px;
        }
    }
}