@-webkit-keyframes ani {
    from {
        mask-position: 0 0;
    }
    to {
        mask-position: 100% 0;
    }
}
@keyframes ani {
    from {
        mask-position: 0 0;
    }
    to {
        mask-position: 100% 0;
    }
}
@-webkit-keyframes ani2 {
    from {
        mask-position: 100% 0;
    }
    to {
        mask-position: 0 0;
    }
}
@keyframes ani2 {
    from {
        mask-position: 100% 0;
    }
    to {
        mask-position: 0 0;
    }
}
// Кнопки
.btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #000000;
    text-shadow: none;
    letter-spacing: 0;
    font-weight: 600;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .35s linear;
    &:hover {
        animation: ani .7s steps(22) forwards;
        background-color: #000;
        color: #fff;
    }
    &::before{
        content: none
    }
    // @include button(#fff, 'https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png',
    // 2300%,
    // 100%,
    // none,
    // #000);
    // cursor: pointer;
    // animation: ani2 .7s steps(22) forwards;
}
.mas {
    display: block;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
}