// Все элементы формы
input{
    font-family: $fontFamily;
}
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='password'],
textarea, select {
    font: inherit;
    width: 100%;
    height: 100%;
    background: none;
    outline: 0 none;
    border: 1px solid #dedede;
    padding: 16px 36px;
    color: #333;
    background-color: #fff;
    font-size: 18px;
    &::placeholder{
        color: #000;
        opacity: .5;
        font-size: 18px;
        transition: .3s;
        @media (max-width: 355px) {
            font-size: 14px;
        }
    }
    &:focus{
        &::placeholder{
            opacity: 0;
        }
    }
    @media (max-width: 991px) {
        padding: 16px 26px;
    }
}
input[type='submit']{
    background-color: #000;
    border: none;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    padding: 14.5px 46px 13.5px;
    cursor: pointer;
    @media (max-width: 1199px) {
        font-size: 22px;
    }
    @media (max-width: 991px) {
        padding: 14.5px 17px 13.5px;
        font-size: 20px;
        font-weight: 500;
    }
    @media (max-width: 767px) {
        font-size: 18px;
    }
}