.logo {
    width: 62px;
    height: 58px;
    z-index: 4;
    @media (max-width: 1199px) {
        width: 57px;
        height: 52px;
    }
    @media (max-width: 767px) {
        width: 52px;
        height: 47px;
    }
    a {
        width: 100%;
        height: 100%;
        &::before {
            content: none;
        }
        img {
            height: 100%;
        }
    }
    &__pc {
        display: block;
    }
    &__phone {
        display: none;
    }
}
