.pagination{
    width: 100%;
    .nav-links{
        border-bottom: 3px solid #fff;
        padding: 59px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 991px) {
            padding: 50px 0;
        }
    }
    .page-numbers{
        margin: 0 10px;
        font-size: 24px;
        line-height: 35px;
        font-weight: 300;
        &::before{
            bottom: 2px;
        }
        &.current{
            font-weight: 700;
        }
    }
    .next.page-numbers{
        position: relative;
        margin-left: 20px;
        color: transparent;
        &::before{
            content: none;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 7px;
            border: 10px solid transparent;
            border-left: 20px solid #fff;
            transform: scale(.9);
            transition: .3s;
        }
        &:hover{
            &::after{
                transform: scale(1);
            }
        }
    }
    .prev.page-numbers{
        position: relative;
        margin-right: 20px;
        color: transparent;
        &::before{
            content: none;
        }
        &::after {
            content: '';
            position: absolute;
            right: 0;
            top: 7px;
            border: 10px solid transparent;
            border-right: 20px solid #fff;
            transform: scale(.9);
            transition: .3s;
        }
        &:hover{
            &::after{
                transform: scale(1);
            }
        }
    }
}